<a href="https://colab.research.google.com/github/AYurov28/AYurov28.github.io/blob/main/TensorFlow_Artem_Yurov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

print("TensorFlow version:", tf.__version__)

TensorFlow version: 2.12.0

In [17]:
(X_train, y_train), (X_test, y_test) = keras.datasets.mnist.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11490434/11490434 [==============================] - 0s 0us/step

In [18]:
X_train.shape

(60000, 28, 28)

In [19]:
X_test.shape

(10000, 28, 28)

In [20]:
X_train = X_train/255
X_test = X_test/255

In [21]:
X_train_flattened = X_train.reshape(len(X_train), 28*28)
X_train_flattened.shape

(60000, 784)

In [22]:
X_test_flattened = X_test.reshape(len(X_test), 28*28)
X_test_flattened.shape

(10000, 784)

In [23]:
model = keras.Sequential([
    keras.layers.Flatten(input_shape=(28,28)),
    keras.layers.Dense(100,input_shape=(784,),activation='relu'),
    keras.layers.Dense(10,activation='sigmoid')
])
model.compile(
    optimizer='adam', 
    loss='sparse_categorical_crossentropy',
    metrics=['accuracy']
)

model.fit(X_train, y_train, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 9s 4ms/step - loss: 0.2713 - accuracy: 0.9222
Epoch 2/5
1875/1875 [==============================] - 9s 5ms/step - loss: 0.1219 - accuracy: 0.9642
Epoch 3/5
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0870 - accuracy: 0.9736
Epoch 4/5
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0643 - accuracy: 0.9806
Epoch 5/5
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0517 - accuracy: 0.9837

In [7]:
import pandas as pd
df = pd.DataFrame(data={'col1': [1, 2], 'col2': [3, 4]})
df.to_parquet('df.parquet')

pd.read_parquet('df.parquet')

   col1  col2
0     1     3
1     2     4

In [10]:
import pandas as pd
df = pd.DataFrame(data={'col1': ['a', 'b'], 'col2': ['c', 'd']})
df.to_feather('df.ftr')

pd.read_feather('df.ftr')

  col1 col2
0    a    c
1    b    d